<section class="header-block">

  <!-- ------- REPORT NAME -------------------- -->
  <article class="header-left">
    <p class="report-title">{{ userSelection.title }}</p>


    <p class="report-time">{{ userSelection.legend }}</p>
  </article>

  <!-- ------- CALLCENTER NAME -------------------- -->
  <article class="header-center ">
    <p class=" callenter-title">{{ userSelection.legend }}</p>
  </article>


  <!-- ------- INFO -------------------- -->
  <article class="header-right">
    <p class="report-selection">{{ userSelection.options }}</p>
  </article>
</section>



