<section class="header-block">

  <!-- ------- REPORT NAME -------------------- -->
  <article class="header-left">
    <p class="report-title">{{ userSelection.title }}</p>


    <p class="report-time">Horario: {{ userSelection.options }}</p>
  </article>

  <!-- ------- CALLCENTER NAME -------------------- -->
  <article class="header-center ">
    <p class=" callenter-title">{{ userSelection.legend }} </p>
    <p class=" callenter-title">{{userSelection.entity_selection}}</p>
  </article>


  <!-- ------- INFO -------------------- -->
  <article class="header-right">
    <p class="report-selection"></p>
  </article>
</section>