@import "projects/dashboard/src/shared/styles/dashboard/card-two-columns";
@import "shared/styles/modal/modal";

.myCustomModalClass .modal-dialog {
  min-width: 90%;
}

.myCustomModalClass .modal-header {
  background: yellow;
}



.pointer {
  cursor: pointer;
}
