
// DATATABLE
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";
@import "./datatable/_material";
@import "./datatable/dark";

// NG SELECT
@import "~@ng-select/ng-select/themes/default.theme.css";