<section class="header-block">

  <!-- ------- REPORT NAME -------------------- -->
  <article class="header-left">
    <p class="report-title">{{ header_data.title }}</p>
    <p class="report-date">
      {{ header_data.date }}</p>
    <p class="report-time">{{ header_data.legend }}</p>
  </article>

  <!-- ------- CALLCENTER NAME -------------------- -->
  <article class="header-center ">
    <p class=" callenter-title">{{ header_data.callcenterName }}</p>
  </article>


  <!-- ------- INFO -------------------- -->
  <article class="header-right">
    <p><a class="selector-text-link" (click)="onClick()">Filtre
        la
        información aquí</a></p>
    <p class="report-selection">{{ header_data.options }}</p>
  </article>
</section>