<app-alert [alertMessage]="alertMessage"></app-alert>

<section>
  <app-crud-crud-show-display-subheader [showEditButton]="showEditButton"
                                        (getInactiveBack)="onGetInactive($event)"
                                        (getAllBack)="onGetAll($event)"
                                        (newRecordBack)="onNewRecord($event)"
                                        (editRecordBack)="onEditRecord($event)">
  </app-crud-crud-show-display-subheader>
</section>

<section class="main" *ngIf="showDatatable">
  <app-crud-crud-show-display-list [rows]="rows" [showDatatable]="showDatatable"
                                   [showDetail]="showDetail"
                                   [selection]="selection"
                                   (selectionBack)="onSelectionBack($event)">
  </app-crud-crud-show-display-list>
</section>

<section class="main" *ngIf="showDetail">
  <app-crud-crud-show-display-detail [showDatatable]="showDatatable"
                                     [showDetail]="showDetail"
                                     [selection]="selection"
                                     [newRecord]="newRecord"
                                     [editRecord]="editRecord">
  </app-crud-crud-show-display-detail>
</section>