<!-- Secciones Menu -->
<div class="navbar-nav">
  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <a id="navdrop" dropdownToggle role="button"
       class="nav-link dropdown-toggle"
       aria-controls="dropdown-basic">Presentaciones</a>

    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/layout/display-inbound/">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Entrantes
        </a>
      </li>



      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/layout/display-outbound/">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Salientes
        </a>
      </li>

      <div class="dropdown-divider"></div>
      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/layout/crud-display/">
          <fa-icon [icon]="faLaptop"></fa-icon> &nbsp; Malla de Turnos
        </a>
      </li>

    </ul>
  </div>




  <!-- /********************************************** -->

  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <a id="navdrop" dropdownToggle role="button"
       class="nav-link dropdown-toggle" aria-controls="dropdown-basic">Monitor
      de colas</a>

    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">


      <li role="menuitem">
        <a class="dropdown-item " routerLink="/layout/display-monitor/calls">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Monitor-Llamadas
        </a>
      </li>


      <li role="menuitem">
        <a class="dropdown-item " routerLink="/layout/display-monitor/agents">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Monitor-Agentes
        </a>
      </li>


      <li role="menuitem">
        <a class="dropdown-item "
           routerLink="/layout/display-monitor/indicators">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Monitor-Indicadores
        </a>
      </li>

    </ul>
  </div>
</div>